
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  padding: 20px 35px;
  background-image: url("./images/pexels-katie-goertzen-4491648.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;

}

h1 {
  color: #2e374d
}
header h2 {
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #2e374d;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  color: #000000;
  
}

header nav ul li a:hover {
  background: #e4e9fb;
  color: #0b0f1a;
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  background-image: url("./images/pexels-katie-goertzen-4491648.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
}

#aboutMe {
  padding: 20px;
 

}

.navActive {
  background-color: aqua;
}
nav a:hover {
  text-decoration:rgb(6, 46, 6)
}
.box {
  background-color: #F9F9F9;
}
.btn {
  background-color: darkolivegreen;
}
.container {

  width: 100%;
  margin:0;

}

.contactForm {
 padding: 20px;
}

.project {
  padding: 15px;
  width: 100%;
  margin: 10px;

}

.projContainer {
padding: 15px;
}


.contact {
  background-image: url("./images/pexels-katie-goertzen-4491648.jpg");
  height: cover;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.contact-info h3 {
  color: #2e374d;
  font-size: 25px;
}



.flex-row {
  display: flex;
  flex-wrap: wrap;
}


footer {
  color: white;
  background-color: #000000;
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  padding: 10px;

  
}